# Hugeicons Pro Registry
# Replace YOUR_LICENSE_KEY with your actual Hugeicons Pro license key
# Get your key at: https://hugeicons.com/pricing
@hugeicons-pro:registry=https://npm.hugeicons.com/
//npm.hugeicons.com/:_authToken=5AF4F3F2-FA44101D-C90522D3-FA190392
